#A {
    color: rgb(0, 132, 255);
    font-style: italic;
}
#B {
    color: rgb(0, 132, 255);
    font-style: italic;
}
#C {
    color: red;
}
#D {
    background-color: red;
}
#E {
    color: red;
}
